/* 京东样式表 */
.box_jd{
	float: right;
	width: 448px;
	border: 1px solid #EED97C;
	background: #FFFCEB;
	color: #666;
	overflow: hidden;
	margin: 10px 0;
	padding:10px;
}

.box_jd h2{margin-bottom:5px}
.box_jd a{color:#BB6E0D;font-size:14px;}

#libfan-detail tr td:nth-child(2), #libfan-detail tr td:nth-child(3), #libfan-detail tr td:nth-child(4) {display:none;}