/* 京东样式表 */
.libfan.jd {
	border-width: 2px 1px 1px;
	border-style: solid;
	border-color: #aaa #ddd #ddd;
	padding:10px;
}

.libfan.jd h2 {
	height: 28px;
	padding-left: 10px;
	line-height: 28px;
	font: 14px/28px \5fae\8f6f\96c5\9ed1;
	color: #333;
}
.libfan.jd a{color:#BB6E0D;font-size:14px;}

#libfan-detail tr td:nth-child(2), #libfan-detail tr td:nth-child(3), #libfan-detail tr td:nth-child(4) {display:none;}